apiVersion: v1
kind: Service
metadata:
  name: flask-todo-service
  labels:
    app: flask-todo-app
spec:
  type: NodePort
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30000
    protocol: TCP
  selector:
    app: flask-todo-app

